.head{
    text-align: center;
    background-color: bisque;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    text-transform: capitalize;
}
body{
    background-color: rgb(190, 159, 114);
    text-align: center;
    text-transform: capitalize;
}