body{
    text-align: center;
    text-transform: capitalize;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: burlywood;
}
.rest1 input{
    text-align: center;
    border-radius: 1px;
    border: 4px;
    border-style: dotted;
}
.rest1 button{
    border-radius: 20px;
}
.resett input{
    border-radius: 1px;
    border: 4px;
    border-style: double;
}
.resett button{
    border-radius: 20px;
}