body{
    background-color: beige;
    text-align: center;
}
.links{
    text-align:center;
}
.a{
    background-color: aqua;
}
a:link {
    color: red;
  }
  a:visited {
    color: green;
  }
    a:hover {
    color: hotpink;
    text-decoration: underline;
  }
  a:active {
    color: blue;
  }
  